/* line 10, ../sass/app.sass */
br {
  clear: both;
}

/* line 13, ../sass/app.sass */
:disabled {
  cursor: not-allowed;
}

/* line 16, ../sass/app.sass */
span {
  padding-top: 7px;
  margin-bottom: 0;
}

/* line 21, ../sass/app.sass */
div.div-wrapper {
  padding: 15px 15px 15px;
  margin: 0 -15px 15px;
  overflow: hidden;
}
/* line 27, ../sass/app.sass */
div.header {
  text-align: center;
  height: auto;
  margin: 0 auto;
}

/* line 33, ../sass/app.sass */
.modal.modal-wide .modal-dialog {
  width: 90%;
}

/* line 36, ../sass/app.sass */
.modal-wide .modal-body {
  overflow-y: auto;
}

@media (min-width: 768px) {
  /* line 41, ../sass/app.sass */
  div.div-wrapper {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
  }
}
/* line 48, ../sass/app.sass */
.btn-margin-left {
  margin-left: 2px;
}

/* line 51, ../sass/app.sass */
.btn-margin-right {
  margin-right: 2px;
}

/* line 54, ../sass/app.sass */
#loading {
  z-index: 99999;
  display: none;
  width: 50px;
  height: 57px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -28px 0 0 -25px;
}

/* line 64, ../sass/app.sass */
.description {
  width: 33%;
  display: inline-block;
  float: left;
  background: #c2c2c2;
}
/* line 69, ../sass/app.sass */
.description pre, .description code {
  white-space: pre-line;
  background-color: #ffffff;
}

/* line 73, ../sass/app.sass */
.hrow {
  display: flex;
}

/* line 76, ../sass/app.sass */
.col {
  flex: 1;
  padding: 1em;
  border: solid;
  border-color: #ffffff;
  border-radius: 0.5em;
}

/* Remove/edit html control */
/* line 86, ../sass/app.sass */
span.edit {
  position: absolute;
  right: 0.1em;
  top: 0.1em;
  width: 24px;
  height: 24px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAk1BMVEUAAAAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfBJbUhZAAAAMHRSTlMAAQIFBgoLDA4aKy0zOUBNV1lcXl9hYmNkZmdoaWttd3h7oqutr7CytLe5wd7i6PUUO4Y7AAAAkUlEQVQokXXMRw7CQBQE0SaanHMecjBQ9z8di5GRvmfcy1dSS8GGn3mIknbAPuJbiJZaDwC6OR9/m770rU/Al2fZ+BR8eVif+ftvsx11OCrup5Lx+d/tzyLzs/Vlga8yv1hfZ361vinwQYFXk9T7zbpGzpe864VLUrjnvQK4JA1cbQBXD1yO96FVCVjqNCIo6QcSEx/GQZ6UkgAAAABJRU5ErkJggg==);
  display: block;
  cursor: pointer;
}
/* line 98, ../sass/app.sass */
span.edit-hidden {
  display: none;
}
/* line 100, ../sass/app.sass */
span.remove {
  position: absolute;
  right: 0.1em;
  top: 2.5em;
  width: 24px;
  height: 24px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAgVBMVEUAAAAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAAbfAHGl0KAAAAKnRSTlMAAQMFBgcJDEdLWFlbXF1odXeFiIuRkpSVl5itr7m6vsfIytXX4ubo6f1TzZtTAAAAr0lEQVQoz22Q1xaCQAxEZ6mKBStiwS7q/P8H+rAlAdmn5N6zJ5kAQPleGoQ3areRrVYkD8EUJJvIc3JvhFtTksoUrjsCH1eyNsLJBAuKEX4GTB26R6iuMTrGv1sMDBnH/0zgPXMXDhiZ+80Ux0T9qM0w12ba28qb2V8Oa+Yyt2PGsmcmW2+AVu2v8iSodC6z8/cEoqaT15pXDmfkDpXnQHTiRd1nzWfu61SfB6kBgB9Z7jbscyDPiwAAAABJRU5ErkJggg==);
  display: block;
  cursor: pointer;
}
/* line 112, ../sass/app.sass */
span.remove-hidden {
  display: none;
}
