<!-- Modal bootstrap -->
<div id="tallModal" class="modal modal-wide fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#" class="close" aria-hidden="true">&times;</a>
        <!-- <button type="button" class="close" aria-hidden="true">&times;</button> -->
        <h4 class="modal-title"> Form Editor</h4>
      </div>
      <div class="modal-body">
              <!-- Modal body -->
            <textarea id="mycanvas" class="container-fluid" >
            </textarea>

      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-default">Close</a>
        <!-- <button type="button" class="btn btn-default" >Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

