<div class="row">
    <div class="col-md-12 initial">
        <div class="layoutmanager">
            <div class="container-fluid layout-container">
                <div class="row layout-row">
                    <div class="layout-column col-xs-{{this}} col-sm-{{this}} col-md-{{this}} col-lg-{{this}}">
                        <div class="layout-column-one layout-column-editable">
                            <p></p>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>